# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor junk
.DS_Store
*.pem
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
